body{
    margin: 0px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right:  2px solid pink;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 10px;
}

img{
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1.75s;
}


img:hover{
    transform: scale(1.05);
}

.footer{
    width: 200px;
    border: 1x solid rgba(65, 124, 129, 0,2);
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color: rgba(65, 124, 129, 0.2);
}